<div class="bg-warning">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">ENERGÍAS RENOVABLES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/production">Producción</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/consumption">Consumo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <ul class="dropdown-menu ms-auto">
              <li><a *ngIf="!isLoggedIn()" class="dropdown-item" routerLink="/user/signup">Registrarse</a></li>
              <li><a *ngIf="!isLoggedIn()" class="dropdown-item" routerLink="/user/login">Iniciar Sesión</a></li>
              <li><a *ngIf="isLoggedIn()" class="dropdown-item" [routerLink]="['/user/profile/',userService.getUserIde()]">Perfil de usuario</a></li>
              <li><a *ngIf="isLoggedIn()" class="dropdown-item" (click)="logout()" routerLink="/user/logout">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet />
