<div class="col-10 mx-auto my-5">
    <img id="userimg" src="https://static-00.iconduck.com/assets.00/profile-user-icon-2048x2048-m41rxkoe.png" class="img-thumbnail" alt="...">
</div>
<div class="col-10 mx-auto my-5">
    <form [formGroup]="userForm">
        <fieldset disabled *ngIf="id">
          <div class="mb-3">
            <label for="userName" class="form-label">Usuario</label>
            <input id="userName" class="form-control" formControlName="userName">
            <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
              <small *ngIf="userForm.get('userName')?.errors?.['required']">*Campo requerido.</small>
            </div>
          </div>
        </fieldset>
        <div class="mb-3" *ngIf="id==null">
          <label for="userName" class="form-label">Usuario</label>
          <input id="userName" class="form-control" formControlName="userName">
          <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
            <small *ngIf="userForm.get('userName')?.errors?.['required']">*Campo requerido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            <small *ngIf="userForm.get('password')?.errors?.['required']">*Campo requerido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input id="name" class="form-control" formControlName="name">
          <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
            <small *ngIf="userForm.get('name')?.errors?.['required']">*Campo requerido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input id="lastName" class="form-control" formControlName="lastName">
          <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
            <small *ngIf="userForm.get('lastName')?.errors?.['required']">*Campo requerido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" class="form-control" formControlName="email">
          <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            <small *ngIf="userForm.get('email')?.errors?.['required']">*Campo requerido.</small>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary" [class.disabled]="userForm.invalid" [disabled]="userForm.invalid" (click)="onSubmit()" routerLink="/">
            {{id ? 'Actualizar Datos' : 'Registrar'}}
        </button>
        <button class="btn btn-danger" *ngIf="id" [class.disabled]="userForm.invalid" [disabled]="userForm.invalid" (click)="deleteUser()" routerLink="/">
          Eliminar Cuenta
        </button>
      </form>
</div>